html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  /* Background pattern from Subtle Patterns */
  background: #ffffff url('../img/geometry2.png');
  font-family: 'Coda', cursive;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0.4em 0 0.8em 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
* Styles for the table and cards
*/

#table {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

#table .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#table .card.open {
  background: #02b3e4;
  cursor: default;
}

#table .card i {
  font-size: 0em;
}

#table .card.open i {
  font-size: 2.3em;
}

#table .card.match {
  background: #02ccba;
}

/*
* Styles for the Score Panel (Rating stars + Restart button)
*/

#rr-panel {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
}

#rr-panel #rating {
  width: 50%;
  text-align: center;

}

#rr-panel #restart {
  width: 50%;
  cursor: pointer;
  text-align: center;
}

/*
* Styles for Player Stats
*/

#stats-panel {
  display: flex;
  width: 250px;
  height: 70px;
  z-index: 1;
  position: absolute;
  top: 0;
  transform: translate(0, -70px);
  transition: transform 0.7s ease;
  background-color: #0000066f;
  border: 1px solid #000;
}

#stats-panel.open {
  position: fixed;
  transform: translate(0, 0);
}

#stats-panel .stat-box {
  display: flex;
  width: 50%;
  text-align: center;
  padding: 0.5em;
  margin: 0.8em;
  border: 1px solid #000;
  background-color: #eee;
}

#stats-panel .stat-box i {
  width: 40%;
  text-align: center;
  padding-top: 0.2em;

}

#stats-panel .stat-box span {
  width: 60%;
  text-align: left;
}


/*
* Styles for the Modal Dialog
*/

.modal {
  position: fixed;
  z-index: 1; /* Sit on top */
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scroll if needed */
  background-color: #000; /* Fallback color */
  background-color: #0000066f; /* w/ opacity */
}

.modal.hide {
  display: none;
}
.modal.unhide {
  display: block;
}

.modal-content {
  background-color: #eee;

  border: 1px solid #000;
  border-radius: 10px;
  width: 420px;
  padding: 1.2em;
  margin: auto;
  text-align: center;
}

.btn-wrapper {
  text-align: center;
}

.button {
  color: #333;
  width: 150px;
  padding: 3px;
  margin: 0px 15px 0px 15px;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  background-color: #02ccba;
}

.button:hover,
.button:focus {
  color: #fff;
  background: #aa7ecd;
}


/*
*
* Responsive styling
*
*/


@media screen and (min-width: 751px) {

  #container {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 750px) {

  #container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }

  #rr-panel {
    width: 65%;
  }

  #table {
    width: 95%;
    min-height: 95%;
    padding: 1.3em;
  }

  #table .card {
    width: 22%;
    height: 7em;
    margin: 0.3em;
  }
}

@media screen and (max-width: 550px) {

  #container {
    width: 100%;
  }

  #table {
    width: 95%;
    min-height: 95%;
    padding: 1em;
  }

  #table .card {
    height: 5.7em;
  }
}

@media screen and (max-width: 430px) {

  #table {
    width: 90%;
    padding: 0.5em;
  }

  #table .card {
    width: 30%;
    height: 5.7em;
  }

  .modal-content {
    width: 250px;
    padding: 15px;
    margin-top: 10%;
  }

  .button {
    margin: 15px;
  }

}

@media screen and (max-width: 356px) {

  #table {
    width: 95%;
  }

  #table .card {
    height: 5em;
    margin: 0.2em;
  }

  #table .card.open i{
    font-size: 1.8em;
  }
}

@media screen and (max-width: 290px) {

  #table .card {
    width: 30%;
    height: 4.2em;
    margin: 0.2em
  }
}
